.sidebar{
    background-color: #161B3B;
    z-index: 1;
}

.bsarrow{
    color: #161B3B;
}

.roulette{
    /* background-color: #00D557; */
    color: #fff;
}

.smlist{
    color: #00D557;
}

.smlist:hover{
    background-color: #00D557;
    color: #fff;
}

@media screen and (max-width:760px) {
    .sidebar{
        display: none;
    }
}
