.nav{
    background-color: #161B3B;
    position: relative;
    z-index: -2;
    margin: 0;
}

.menu{
    background-color: #00D557;
    color: #fff;
}

.nav-hover:hover{
    background-color: #00D557;
}